@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html, body {
    border:0;
    margin:0;
    padding:0;


}
li, a, button,h1,p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: #D3D3D3;
    text-decoration: none;
}
body{
    background-color: #484a53;
}
.footer_container{
    padding: 4rem 0 0;
    background-color: #24252A;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h1{
    margin-bottom: 1rem;
}

.footer-heading a{
    text-decoration: none;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease 0s;
}

.footer-heading a:hover{
    color: #F26F6D;
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
}

.copyright_text{
    color: #888888;
    font-size: 0.8em;
}