@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
header,body,ul{
    background-color: #24252A;
}

li, a, button, p, span, h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #D3D3D3;
    text-decoration: none;
}

header {
    position: relative;
    padding: 1vh 5vh 0;
}

.button_and_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo{
    cursor: pointer;
}

.menu{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu li{
    display: inline-block;
    padding: 0 0.6vh;

}

.menu li a{
    transition: all 0.3s ease 0s;
}

.menu li a:hover{
    color: #F26F6D;
}

.menu_button{
    padding: 1vh 1vh;
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50%;
}

.menu_button:hover{
    background-color: rgba(242,111,109,1);
}

.hero_container{
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.hero_overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_overlay_title, .hero_overlay_subtitle{
    text-align: center;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero_overlay_title{
    font-size: 3.75em;
}

.hero_overlay_subtitle{
    font-size: 1.25em;
    padding-top: 0;
}

.your{
    color: #F26F6D;
}

.hero_image {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
    opacity: 0.25;
}

.crop_container{
    position: relative;
    width: 100%;
    height: 61vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.get_started{
    padding: 1vh 1vh;
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50%;
}

.get_started:hover{
    background-color: rgba(242,111,109,1);
}

.footer_container{
    padding: 4rem 0 0;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h1{
    margin-bottom: 1rem;
}

.footer-heading a{
    text-decoration: none;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease 0s;
}

.footer-heading a:hover{
    color: #F26F6D;
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
}

.copyright_text{
    color: #888888;
    font-size: 0.8em;
}



