@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header,body, ul{
    background-color: #24252A;
}

li, a, button, p, h1, .copyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #D3D3D3;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
}

.site-logo{
    cursor: pointer;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0 5px;

}

.menu li a{
    transition: all 0.3s ease 0s;
}

.menu li a:hover{
    color: #F26F6D;
}

.menu_button{
    padding: 1vh 1vh;
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50%;
}

.menu_button:hover{
    background-color: rgba(242,111,109,1);
}

.hero_container{
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.hero_overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_image {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;

}

.crop_container{
    position: relative;
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}




