@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html, body {
    border:0;
    margin:0;
    padding:0;


}
li, a, button,h1,p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #D3D3D3;
    text-decoration: none;
}
body{
    background-color: #484a53;
}
header{
    position: relative;
}

.top-menu{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vh;
}
.header .menu li#news a{
    color: #F26F6D;
    border-bottom: 0.1em solid #F26F6D;
}
.top-menu .site-logo{
    cursor: pointer;
}
.top-menu img{
    width:12vw;
}
.header .menu{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header .menu li{
    display: inline-block;
    padding: 0 0.6vh;

}

.header .menu li a{
    transition: all 0.3s ease 0s;
}

.header .menu li a:hover{
    color: #F26F6D;
}
.profile-menu{
    display: none;
    border: 1px solid white;
    border-radius: 32px;
    background-color:#24252A;
    opacity: 0.9;
    position: absolute;
    top:10vh;
    right: 3em;
    font-size: 2vh;


}
.profile-menu .menu:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 85%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.profile-menu .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;

}
ul.menu {
    list-style-type: none;
}
.profile-menu li a{
    transition: all 0.3s ease 0s;
}
.profile-menu li a:hover{
    color: #F26F6D;
}
.header .profile-picture{
    background-image: url("https://raw.githubusercontent.com/AlexandraSpa/WTproject/main/profile-picture.gif");
    padding: 4vh 4vh;
    background-size: cover;
    border:none;
    border-radius: 60px;
    cursor: pointer;
}
.header .profile-picture:focus{
    outline: none;
    box-shadow: none;
}
main{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2vh;
    

    
}
.article{
    background-color: #24252A;
    border-radius: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 30vw;
    height: 40vh;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.article:hover p{
    color: #F26F6D;
    align-self: flex-end;
}
.article:hover .article__image{
    opacity: 0.5;
}
.article .article__image{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width:30vw;
    height: 25vh;
    object-fit: cover;
}
.article h1{
    color:ivory;
}
.footer_container{
    padding: 4rem 0 0;
    background-color: #24252A;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}
@media screen and (max-width: 550px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .button{
        font-size: 3vw;
        align-self: center;
        margin-left:25%;
    }
    .top-menu img{
        width:20vw;
    }
    .header{
        font-size: 3.5vw;
    }
    .main{
        height: 120vh;
    }
}

.footer-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:20vw;
    margin-bottom: 1rem;
}

.footer-heading h1{
    margin-bottom: 1rem;
}

.footer-heading a{
    text-decoration: none;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease 0s;
}

.footer-heading a:hover{
    color: #F26F6D;
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.copyright_text{
    color: #888888;
    font-size: 0.8em;
}