@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html, body {
    border:0;
    margin:0;
    padding:0;


}
li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: #D3D3D3;
    text-decoration: none;
}
body{

    font-family: Verdana;
    background-color: white;
    color:black;
}
.top-menu{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh;
}
.top-menu .site-logo{
    cursor: pointer;
}
.top-menu img{
    width:20vh;
}
.top-menu .menu li{
    display: inline-block;
    padding: 0 5px;

}

.top-menu .menu li a{
    transition: all 0.3s ease 0s;
}

.top-menu .menu li a:hover{
    color: #F26F6D;
}
.profile-menu{
    display: none;
    border: 1px solid white;
    border-radius: 8px;
    background-color:#24252A;
    position: absolute;
    bottom:68vh;
    right: 3em;


}
.profile-menu .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;

}
ul.menu {
    list-style-type: none;
}
.profile-menu li a{
    transition: all 0.3s ease 0s;
}
.profile-menu li a:hover{
    color: #F26F6D;
}
.main button{
    padding: 1vh 1vh;
    background-color: rgba(242,111,109,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50%;
}

.main button:hover{
    background-color: rgba(238,28,80,1);
}
.main button:focus{
    outline: none;
    box-shadow: none;
}
.header .profile-picture{
    background-image: url("profile-picture.gif");
    padding: 5vh 5vh;
    background-size: cover;
    border:none;
    border-radius: 60px;
    cursor: pointer;
}
.header .profile-picture:focus{
    outline: none;
    box-shadow: none;
}


.main .dark-mode-btn{
    position: absolute;
    left:2vw;
    top:10vh;
    height: 7vh;

}
.main .form-generator .button{
    position: sticky;
    margin-bottom: 5px;
}
.main .dark-mode-btn:hover{
    background-color: #151515;
    border:2px solid #151515;
    color:white;
    border-radius:10px;

}
.main .form-generator .button:hover{
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 30px;

}

.main{
    position: relative;
    height: 100vh;
    font-size: 2vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main::before{
    content:"";
    background-image: url("workout-generator-bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;

}

.main section{
    background-color: #eaeaea;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    max-width: 60vw;

}

.main span{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content:center;
    position: relative;

}
.main fieldset{
    display: flex;
    flex-direction: column;

}
.main legend{
    font-style: italic;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #fa17a7;
    color:white;
    margin-bottom: 10px;
}

.dark-mode{
    background-color: #18191A;
    color:white;
}
.dark-mode-form-container{
    background-color: #242526;
    border-radius: 18px;
}
section.form-generator.dark-mode-form-container {
    background-color: #242526;
}
.dark-mode-form{
    background-color: #242526;

}
.dark-mode-button{
    background-color: #151515;


}
.dark-mode-button:hover{
    background-color: rgba(238,28,80,1);

}

.loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


