@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html, body {
    border:0;
    margin:0;
    padding:0;


}
li, a, button,h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #D3D3D3;
    text-decoration: none;
}
body{

    font-family: Verdana, serif;
    background-color: #24252A;
    color:black;
}
header{
    position: relative;
    padding: 1vh 5vh;
}

.top-menu{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-menu .site-logo{
    cursor: pointer;
}
.top-menu img{
    width:12vw;
}
.header .menu{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header .menu li{
    display: inline-block;
    padding: 0 0.6vh;

}

.header .menu li a{
    transition: all 0.3s ease 0s;
}

.header .menu li a:hover{
    color: #F26F6D;
}
.profile-menu{
    display: none;
    border: 1px solid white;
    border-radius: 32px;
    background-color:#24252A;
    opacity: 0.9;
    position: absolute;
    top:10vh;
    right: 3em;
    font-size: 2vh;


}
.profile-menu .menu:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 85%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.profile-menu .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;

}
ul.menu {
    list-style-type: none;
}
.profile-menu li a{
    transition: all 0.3s ease 0s;
}
.profile-menu li a:hover{
    color: #F26F6D;
}

.header .profile-picture{
    background-image: url("../../Frontend/images/profile-picture.gif");
    padding: 4vh 4vh;
    background-size: cover;
    border:none;
    border-radius: 60px;
    cursor: pointer;
}
.header .profile-picture:focus{
    outline: none;
    box-shadow: none;
}
.submit-button{
    display: flex;
    justify-content: center;
}


.main .dark-mode-btn,.main .submit-button .button{
    padding: 1vh 3vh;
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
}

.main button:focus{
    outline: none;
    box-shadow: none;
}

.main .submit-button .button:hover{
    background-color: rgba(242,111,109,1);
}

.main .dark-mode-btn{
    position: absolute;
    left:2vw;
    top:1vh;
    height: 7vh;

}
.main .dark-mode-btn:hover{
    background-color: #151515;
    color:white;
}

.main .form-generator .button{
    position: sticky;
    align-self: center;
    margin-bottom: 5px;
}
.main .form-generator .button:hover{
    background-color: rgba(242,111,109,1);
    border: none;
    border-radius: 30px;
}
.main{
    position: relative;
    padding: 5vh 2vh 2vh 2vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main::before{
    content:"";
    background-image: url("../../Frontend/images/workout-generator-bg-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}


.main .form-generator{
    background-color: rgba(238, 238, 238, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    position: relative;
    max-width: 60vw;

}

.main span{
    margin-left:50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5vh;
    justify-content:center;
    position: relative;

}
.main fieldset{
    border-radius: 18px;
    display: flex;
    flex-direction: column;

}
.main legend{
    font-style: italic;
    margin-bottom: 10px;
}
.checkbox-container, .radio-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    background-color: #ccc;
    border:2px solid #5c5b5b;
    border-radius: 8px;
}
.radio-checkmark {
    top: 0;
    right:5px;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
    border:2px solid #5c5b5b;
    margin-bottom: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark{
    background-color: #e7baba;
}
.radio-container:hover input ~ .radio-checkmark{
    background-color: #e7baba;
}

/* When the checkbox is checked, add a pink background */
.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: rgba(238,28,80,1);
}
.radio-container input:checked ~ .radio-checkmark {
    background-color: rgba(238,28,80,1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.footer_container{
    padding: 4rem 0 0;
    background-color: #24252A;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}
@media screen and (max-width: 550px){
    .main .form-generator{
        margin-top: 10vh;
        margin-bottom: 10vh;
        max-width: 90vw;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .button{
        font-size: 3vw;
        align-self: center;
        margin-left:25%;
    }
    .top-menu img{

    }
    .header{
        font-size: 3.5vw;
    }
    .main{

    }
}

.footer-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:20vw;
    margin-bottom: 1rem;
}

.footer-heading h1{
    margin-bottom: 1rem;
}

.footer-heading a{
    text-decoration: none;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease 0s;
}

.footer-heading a:hover{
    color: #F26F6D;
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.copyright_text{
    color: #888888;
    font-size: 0.8em;
}

.dark-mode{
    background-color: #24252A;
    color:white;
}
.dark-mode-form-container{
    background-color: rgba(36,37,38,0.8);
    border-radius: 18px;
}
.dark-mode-button{
    background-color: rgba(36, 36, 36,1);
}
.dark-mode-button:hover{
    background-color: rgba(238,28,80,1);

}
section.form-generator.dark-mode-form-container, section.submit-button.dark-mode-form-container{
    background-color: rgba(36,37,38,0.8);
    border-radius: 18px;;
}



.loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


