@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, p, span, h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #D3D3D3;
    text-decoration: none;
}
body{
    background-color: #24252A;
    font-family: Verdana;
    color:black;
}

header{
    position: relative;
    padding: 1vh 5vh;
}

.button_and_logo{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo{
    cursor: pointer;
}
.button_and_logo img{
    width: 12vw;
}
.menu_bar .menu{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu_bar .menu li{
    display: inline-block;
    padding: 0 0.6vh;

}

ul.menu {
    list-style-type: none;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: #F26F6D;
}

.menu_button{
    padding: 1.3vh 1.3vh;
    font-size: 1vw;
    background-color: rgba(238,28,80,1);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu_button:hover{
    background-color: rgba(242,111,109,1);
}
@media screen and (max-width: 550px){
    .menu_bar{
        font-size: 3.5vw;
    }
    .menu_bar img{
        width:20vw;
    }
    .menu_button{
        font-size: 3vw;
    }
    .menu_bar .menu{
        left:55%;
    }

}